

@media only screen and (min-width: 600px) {
    *{
        font-family: sans-serif;
    }
    

    body {
        background: rgb(192,190,242);
background: linear-gradient(180deg, rgba(192,190,242,1) 6%, rgba(191,151,201,1) 45%, rgba(230,203,165,1) 91%);
 background-size: 1080px 780px ;
 background-repeat: no-repeat;
    }

    .white-background {
        /* used to generate the white strip in the right */
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        width: 50%;
        background: rgba(255, 255, 255);
    }

    .form {
        position: relative;
        text-align: left;
        left: 2%;
        top: 250px;


    }

    .title {
        color: #dd571c;
    }

    #Email {
        width: 90%;
    }

    #pass {
        width: 90%;
    }

    #submit {
        width: 91%;
        background-color: #dd571c;
        font-size: 15px;

    }

    
   
    

}




@media only screen and (max-width: 600px) {
    *{
        font-family: sans-serif;
    }
    

    .title {
        color: #dd571c;
    }

    .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;


    }

    input[type]::placeholder {
        width: auto;
        /* refercane machinne tesing code in course, used to change color in  place holeder*/
        height: auto;
        color: #dd571c;
        background-color: #eee;
        font-weight: bold;
        font-size: 16px;

        text-align: center;
    }






    #Email {
        width: 250px;
        border-radius: 30px;
    }

    #pass {
        width: 250px;
        border-radius: 30px;
    }

    #submit {
        width: 258px;
        background-color: #dd571c;
        border-radius: 30px;
        color: #fff;
        font-weight: bolder;

    }
   
}