
@media only screen and (min-width: 600px) {
   
    body {
        background-image: url(psbg2.jpg);
        background-repeat: no-repeat;
        height: 640px;
        width: 480px;
    }
    
    .wbg {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        width: 400px;
        background: rgba(255, 255, 255);
    }
    
    .form {
        position: absolute;
        text-align: left;
        right: 75px;
        top: 250px;
    
    
    }
    
    .title {
        color: #dd571c;
    }
    
    #Email {
        width: 250px;
    }
    
    #pass {
        width: 250px;
    }
    
    #submit {
        width: 258px;
        background-color: #dd571c;
    
    }

}



@media only screen and (max-width: 600px) {
   
    .title {
        color: #dd571c;
    }
    
        .form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: left;
          

    }
    
    input[type="text"]{
        width: 30%;
        height:0%;
      }
      ::placeholder{
        color: #dd571c;
        background-color: #eee;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
      }
    
    #Email {
        width: 250px;
        border-radius: 30px;
    }
    
    #pass {
        width: 250px;
        border-radius: 30px;
    }
    
    #submit {
        width: 258px;
        background-color: #dd571c;
        border-radius: 30px;
        color: white;
        font-weight: bolder;
    
    }
}