
body{
    background-image: url(psbg.jpg) ;
    background-repeat:no-repeat ;
    height: 1080px;
    width: 740px;
}


table,td,th {
  
    
    
    color: white;
    border: solid 3px black;
 
 background-color: gray;

 border-collapse: collapse;
}
.stock {
    position: absolute;
    top: 20px;
    left: 300px;
    margin: auto;
  }
  
.button button{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color:rgb(245, 209, 39);
    height: 50px;
    width: 100px;
    text-align: center;

}
.button a{
    text-decoration: none;
    color: black;
}
.button a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.144)
}
.button button:hover{
    background-color: rgba(248, 212, 33, 0.37);
}
