
body{
    background-image: url(psbg.jpg) ;
    background-repeat:no-repeat ;
    background-size: 1080px 740px;
}


table,td,th {
  
    
    
    color: #fff;
    border: solid 3px #000;
 
 background-color: rgb(128, 128, 128);

 border-collapse: collapse;
}
.stock {
    position: absolute    ;
    top: 20px;
    left: 300px;
    margin: auto;
  }
  
.button button{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color:#FB415A;
    height: 50px;
    width: 100px;
    text-align: center;

}
.button a{
    text-decoration: none;
    color: #000;
}
.button a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.144)
}
.button button:hover{
    background-color: rgba(251, 65, 90,0.2)
}
.cringe{/* just for fun*/
    position: absolute;
    bottom: 025px;
    right: 25px;
}